body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h4 {
    margin: 0 0 20px 0;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ff7e5f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #feb47b;
}

#qrcode {
   padding:20px;
}